[submodule "themes/academia-hugo"]
	path = themes/academia-hugo
	url = https://github.com/themefisher/academia-hugo.git
[submodule "themes/hugo-theme-pico"]
	path = themes/hugo-theme-pico
	url = https://github.com/negrel/hugo-theme-pico
